<h2>Lista de campeones Amados</h2>

<ul>
    <li class="Jungler">Volibear</li>
    <li class="Midlaner">Galio</li>
    <li class="Midlaner">Sylas</li>
    <li class="Support">Blitzcrank</li>
    <li class="ADC">Ezreal</li>
</ul>